#hoc_body{
    background-image: url(image/bg_image.jpg);
background-size: cover;
}
#aoc_body{
    background-image: url(image/whats-on-a-bag.jpg);
  background-size: cover;
  color: aliceblue;
  text-align: justify;
}

.main_section{
height: 100%;
width: 100%;
}
.basic_header_div{
    float: left;
    width: 100%;
}
.basic_header_div:first-child {
    float: left;
}
.basic_header_div :last-child{
    float: right;
    width: 20%;
}
.basic_nav>ul{
    margin:15px;
   float: left;
   padding: 4px;
   width: 100%;
   
}
.basic_nav li:hover{
    background-color:orange;
    
}
.basic_nav li{
    display: inline;
    list-style-type: none;
    border-radius: 30%;
    padding: 1em;
    margin-left: 10%;
    
    
}
.basic_nav a{
    color: black;
    border-radius: 40%;
    padding:1em;
    text-decoration: none;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hoc_basic_header {
    float: none;
}
.hoc_basic_header :first-child {
    float: none;
    margin-left: 50px;
}

.hoc_basic_header :nth-child(3) {
    margin-top: 10%;
}

.hoc_basic_header :last-child{
    margin-left: 5%;
}

.hoc_basic_header :nth-child(2) {
    float: right;
    width: 20%;
}
.hoc_main_sec{
    float: left;
    width: 49%;
    height: 40%;
   
}
.hoc_main_sec_left{
    float: left;
    height: 100%;
    width: 25%;
    margin-top: 2%;
    
}
.hoc_main_sec_right :first-child, .hoc_main_sec_left :first-child{
    width:100%;
    border-radius: 10%;
}
.hoc_main_sec_left :last-child{
    width: 100%;
    border-radius: 10%;
    position: relative;
    top:20%;
}
.hoc_main_sec_right :last-child{
    width: 100%;
    border-radius: 10%;
}
.hoc_main_sec_right{
    float: right;
    height: 100%;
    width: 25%;
    margin-top: 2%;
}
.hoc_main_sec :nth-child(2){
    float: left;
}

.hoc_main_sec img {
    float: right;
    width: 50%;
}
.hoc_footer{
    width: 100%;
    height: 10%;
    clear: both;
}
.AOC_basic_header_div{
    width: 100%;
   float: left;
    
}
.AOC_basic_header_div :first-child{
    float: left;
    margin-left: 25px;
}
.AOC_basic_header_div :last-child{
    float: right;
    width: 20%;
}

.AOC_basic_nav li{
    margin-left: 10%;
    display: inline;
}
.AOC_basic_nav a{
    color: blanchedalmond;
    border-radius: 40%;
    padding:1em;
    text-decoration: none;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.AOC_basic_nav a:hover{
   background-color: white;
   color: orange;
}
.AOC_sec {
    float: left;
    width: 49%;
    height: 800px;
}
.AOC_sec p:first-child {
    font-weight: bolder;
}
.AOC_sec_left, .AOC_sec_right{
    width: 25%;
    height: 800px;
    margin-top:2%;
}
.AOC_sec_left{
    float: left; 
    border-radius: 20px;
}
.AOC_sec_right{
    float: right;
}
.AOC_sec_left :first-child{
    position: relative;
    left: 25%;
}
.AOC_sec_right :first-child{
    position: relative;
    left: 25%;
}
.AOC_footer{
    clear: both;
}
.AOC_footer a{
    text-decoration: none;
    color: azure;
}
.AOC_footer a:hover{
    color: grey;
}
.assortment_basic_header_div{

}
.assortment_section{
 float: left;  
}
.assortment_aside{
    float: right;
}